h1 {
 
text-align: center;
}





.contenedor {

left: 500px;
top: 500x;


}

a {
   
left: 600px;
top: 200px;
}

.close {
 
   left: 600px;
 top: 250;
}

.carta2

{
   left: 300px;
   top: -300px;

}

.carta3 {

   left: 300px;
   top: 0px;
   position: absolute;

}



.carta4 {

  left: 300px;
  top: -0px;
position: absolute;


}


.carta5 {

  position: absolute;


}


.carta6 {
 top: -0px;
 left: -300px;
position: absolute;

}

.carta7 {
  top: -0px;
  left: -300px;
 position: absolute;
 
 }
 


 .carta8 {


  top: -0px;
  left: -300px;
 position: absolute;
 
 }
 






 

