.todo {
  max-width: 100%;
  height: 100%;
  width: 100%;
}

#huerta-icon {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 1280px;
  height: 800px;
}


#a1-icon {
  position: absolute;
  top: -7px;
  left: -5px;
  width: 1280px;
  height: 800px;
  opacity: 100%;
}

#lab-icon {
  position: absolute;
  top: -7px;
  left: -12px;
  width: 1280px;
  height: 800px;
}

#lunch-icon {
  position: absolute;
  top: -6px;
  left: -4px;
  width: 1280px;
  height: 800px;
}

#sport-icon {
  position: absolute;
  top: -210px;
  left: -182px;
  width: 1280px;
  height: 800px;
}

#art-icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 800px;
}
#maker-icon {
  position: absolute;
  top: -8px;
  left: -11px;
  width: 1280px;
  height: 800px;
}
#informatic-icon {
  position: absolute;
  top: 0.5px;
  left: 0.3px;
  width: 1280px;
  height: 800px;
}

/*maker-icon {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 65%;
  left: 57.5%;
  width: 5%;
  height: 5%;
}
*/
.salida {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 45%;
  width: 12%;
  height: 25%;
  -webkit-filter: invert(100%);
  filter: invert(100%);
  transition: filter 0.25s ease-in;
}

.adentro {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 48%;
  left: 62%;
  width: 6%;
  height: 14%;
  -webkit-filter: invert(100%);
  filter: invert(100%);
  transition: filter 0.25s ease-in;
}
.adentro:hover {
  -webkit-filter: invert(70%);
  filter: invert(70%);
}
.salida:hover {
  -webkit-filter: invert(50%);
  filter: invert(50%);
}
.hola {
  margin: 500px;
  padding: 500px;
}

.ver-impresoras {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 45%;
  left: 48%;
  width: 3.5%;
  height: 8%;
  -webkit-filter: invert(100%);
  filter: invert(100%);
  transition: filter 0.25s ease-in;
}

.ver-impresoras:hover {
  -webkit-filter: invert(0%);
  filter: invert(0%);
}

.fade {
  transition: opacity 0.5s ease-in-out;
}
